snippet newprog
#!/usr/bin/env python
# pylint: disable=all

def main():
    $0
    pass

if __name__ == "__main__":
    main()
endsnippet

snippet interact
import code
code.interact(local=locals())
endsnippet
