snippet freqdeps
serde = "1"
serde_derive = "1"
structopt = "0.3"
derive-error = "0"
lazy_static = "1"
endsnippet

snippet mycrate
$1-keymap = { git = "https://github.com/da-x/$1-keymap" }
# Local dev:
# $1-keymap = { path = "$1-keymap" }
endsnippet
