[submodule "external/vim-markdown"]
	path = external/vim-markdown
	url = https://github.com/da-x/vim-markdown
[submodule "external/rust.vim"]
	path = external/rust.vim
	url = https://github.com/da-x/rust.vim
[submodule "external/vim-racer"]
	path = external/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "external/vim-man"]
	path = external/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "external/lh-vim-lib"]
	path = external/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib
[submodule "external/vim-syntax-extra"]
	path = external/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "external/vim-bufkill"]
	path = external/vim-bufkill
	url = https://github.com/da-x/vim-bufkill
[submodule "external/local_vimrc"]
	path = external/local_vimrc
	url = https://github.com/da-x/local_vimrc.git
[submodule "external/vim-linux-coding-style"]
	path = external/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "support/ghc-mod"]
	path = support/ghc-mod
	url = https://github.com/DanielG/ghc-mod
[submodule "external/ghcmod-vim"]
	path = external/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "external/vimproc.vim"]
	path = external/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "external/haskell-vim"]
	path = external/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "external/vim-grepper"]
	path = external/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "external/vim-rooter"]
	path = external/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "external/bufexplorer"]
	path = external/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "external/vim-signature"]
	path = external/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "external/vim-css-color"]
	path = external/vim-css-color
	url = https://github.com/da-x/vim-css-color
[submodule "external/vim-easy-align"]
	path = external/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "external/vim-toml"]
	path = external/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "external/tpope-vim-abolish"]
	path = external/tpope-vim-abolish
        url = https://github.com/tpope/tpope-vim-abolish
[submodule "external/vim-gnupg"]
	path = external/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
