[submodule "external/vim-markdown"]
	path = external/vim-markdown
	url = https://github.com/da-x/vim-markdown
[submodule "external/rust.vim"]
	path = external/rust.vim
	url = https://github.com/da-x/rust.vim
[submodule "external/vim-racer"]
	path = external/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "external/vim-man"]
	path = external/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "external/lh-vim-lib"]
	path = external/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib
[submodule "external/vim-syntax-extra"]
	path = external/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "external/vim-bufkill"]
	path = external/vim-bufkill
	url = https://github.com/da-x/vim-bufkill
[submodule "external/local_vimrc"]
	path = external/local_vimrc
	url = https://github.com/da-x/local_vimrc.git
[submodule "external/vim-linux-coding-style"]
	path = external/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "support/ghc-mod"]
	path = support/ghc-mod
	url = https://github.com/DanielG/ghc-mod
[submodule "external/ghcmod-vim"]
	path = external/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "external/vimproc.vim"]
	path = external/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "external/haskell-vim"]
	path = external/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
